.pinned {
    padding: 2rem 3rem;
}

.pinned__heading {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: var(--black);
}

.pinned__wrapper {
    display: flex;
}

.pin {
    width: 50%;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
}

.pin__title {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
}

.pin__desc {
    font-size: 1.2rem;
    letter-spacing: .15rem;
    padding: 1rem 0 0 0;
}

.pin__price {
    font-size: 1.8rem;
    align-self: flex-end;
}

.pin__btn {
    align-self: flex-start;
}