header {
    background-color: var(--black);
    color: var(--citron);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    padding: 1rem 4rem;
}

.header__links {
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    list-style: none;
}

.header__links li {
    padding: 1rem 2.5rem;
}

.header__links a {
    color: var(--platinum);
    text-decoration: none;
    transition: all .5s; 
}
.header__links a:hover {
    border-bottom: 1px solid var(--citron);
    color: var(--silver);
}

.header__mobile-toggle {
    display: none;
}

.header__mobile-nav {
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    list-style: none;
    background-color: var(--platinum);
    transition: all 3s;
} .header__mobile-nav li {
    padding: 1rem 5rem;
    border-bottom: 1px solid var(--silver);
} .header__mobile-nav a {
    color: var(--black);
    text-decoration: none;
} 

@media (max-width: 768px) {
    .header__links{
        display: none;
    }
    .header__mobile-toggle {
        display: block;
        cursor: pointer;
    }
}